.auth-form{
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%;
    height: 500px;
}

.auth-form fieldset{
    display: flex;
    flex-direction: column;
    width: 40%;
    border: none;

}

.form-label{
    display: block;
    justify-content: flex-end;
}

.auth-form input{
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 9px;
    border: 1px solid rgb(177, 176, 176);
    background-color: rgb(236, 236, 236);
}

.auth-form input:active{
    background-color: rgb(255, 255, 255);
}

.auth-form button{
    transition: all 200ms ease-in-out;
    padding: 10px;
    background: white;
    color: rgb(107, 107, 107);
    border: 1px solid rgb(177, 176, 176);
}

.auth-form button:hover{
    transition: all 200ms ease-in-out;
    cursor: pointer;
    background: rgb(177, 176, 176);
    color: white;
    margin-right: auto;
}