/* Navbar */
$navbar-height: 60px;
.navbar{
    height: $navbar-height;
    display: flex;
    align-items: center;
    // justify-content: center;
    background: #FFFFFF;
    // border: 1px solid gray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.466);
}

.nav-links{
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: 2rem;
    padding: 1rem;
}

.nav-links li{
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-links a:link{
    color: rgb(99, 99, 99);
    text-decoration: none;
    
    .active{
        color: black;
    }
}
.nav-links a:visited{
    color: rgb(99, 99, 99);
}
.nav-links a:hover{
    text-decoration: none;
    color: black;
}

.brand-logo img{
    max-height: $navbar-height * 0.5;
}