{% extends "base.html" %}
{% block title_block %}
    New Subrediti
{% endblock title_block %}

{% block body_block %}
    <form class="auth-form" action="{% url 'subs:new' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_errors }} {% for field in form %}
        <div>
            <span class="form-label">{{ field.label_tag }}</span> {{ field }} {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="auth-form-button">Create</button>
    </fieldset>
</form>
{% endblock body_block %}