@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1{
    font-weight: 300;
}

@import 'partials/partials';
@import 'modules/modules';
