{% extends "base.html" %}
{% block title_block %}
    User Profile
{% endblock title_block %}

{% block body_block %}
    
<div class="container"> 

    <aside class="profile-card">
        <h1>User information</h1>
        
        <figure class="profile-avatar">
            <img src="{{ user.avatar.url }}" alt="User avatar">
            <figcaption>{{ user.username }}</figcaption>
        </figure>

        <ul class="profile-infos">
            <li>Username: {{ user.username }}</li>
            <li>Email: {{ user.email }}</li>
            <li>Karma: {{ user.karma }}</li>
            
        </ul>
    </aside>

    <aside class="profile-card">    
        <h1 class="aside-title"> Threads </h1>
        {% for thread in user.threads.all %}
        <div class="thread-card">
            <h1>{{ thread.title }} </h1>
            <h2> Created @ <a href="{% url 'subs:r' thread.subrediti.slug %}">/r/{{thread.subrediti.slug}}</a></h2>
            <ul>
                <li>Upvotes: {{ thread.vote_count }}</li>
            </ul>
        </div>
        {% empty %}
        I can't see your threads -_-
        {% endfor %}
    </aside>

    <aside class="profile-card">
        <h1> Posts </h1>
        {% for post in user.posts.all %}
        <div class="post-card">
            <h1> Posted @ <a href="#">/r/{{post.thread.subrediti.slug}}#{{post.thread.pk}}.</a></h1>
            <ul>
                <li>Upvotes: {{ post.vote_count }}</li>
                <li>Content: {{ post.content }}</li>
            </ul>
        </div>
        {% empty %}
        No posts here :'(
        {% endfor %}
    </aside>
</div>
{% endblock body_block %}
